

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}




body{

	background-color: #3f3a7c;
	background-image: url("gradient.png");
	background-repeat: repeat-x;
}

.songs-search-result {
			border: 1px solid gray;
			margin-bottom: 5px;
			padding: 5px;
}

.songs-search-result  .label{
	display: inline-block;
	text-align: left;
	margin-left: 0px;
	margin-top: 0px;
	color: black;
	font-family: 'open sans',arial,sans-serif;
}

p {
	color: white;
	font-weight: 50;
	font-family: 'open sans',arial,sans-serif;
}

input.btn:hover {
	background-color: white;
    border-color: white;
	color: #3f3a7c;
	font-family: 'open sans',arial,sans-serif;
}

input.btn, .btn:focus, .btn:active, .btn:target .btn:focus, .btn:active:focus, .btn.active:focus{
	background-color: #3f3a7c;
    border-color: #3f3a7c;
	color: white;
	font-family: 'open sans',arial,sans-serif;
	outline: none;
}

.container {

  width: 1000px;
  height: 700px;
  margin-top: 86px;
  position:relative;
}

#backdrop {
	border-radius: 75px;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
}

#header {
    position: absolute;
    left: 0;
    top: 6%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: white;
    font-size: 68;
    font-family: 'open sans',arial,sans-serif;
    font-weight: 5;
}

#form {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;
    /*font-size: 14px;*/
    color: white;
    font-family: 'open sans',arial,sans-serif;
}